{% extends  'base2.html' %}
{% load static %}

{% block popo %}

<main>
    <section class="about-us">
        <h1>О нас</h1>
        <div class="intro">
            <img src="{% static 'css/go.jpeg' %}" alt="Интерьер ресторана" >
            <p>
                Добро пожаловать в ресторан <span>DnKz</span> – уголок утонченной кухни и безупречного сервиса.
                Наш ресторан создан для тех, кто ценит изысканность, качество и гостеприимство.
            </p>
        </div>
        <h2>Наша История</h2>
        <div class="content">
            <img src="{% static 'css/op.jpeg' %}" alt="Основатели ресторана">
            <p>
                Ресторан <span>DnKz</span> открыл свои двери в 2024 году и с тех пор завоевал сердца многих.
                Основатели ресторана, Нурзат и Досжан, вдохновленные путешествиями по миру и изучением кулинарных традиций разных стран,
                решили создать место, где каждый гость сможет почувствовать себя особенным.
            </p>
        </div>
        <h2>Наша Кухня</h2>
        <div class="content">
            <img src="{% static 'css/loo.jpeg' %}" alt="Блюда ресторана">
            <p>
                В основе меню ресторана <span>DnKz</span> лежат лучшие традиции мировой кулинарии, дополненные авторскими интерпретациями нашего шеф-повара.
                Мы тщательно отбираем продукты, чтобы каждая деталь блюда была наивысшего качества.
            </p>
            <ul>
                <li>Тартар из говядины с трюфельным маслом и каперсами.</li>
                <li>Крем-суп из тыквы с кокосовым молоком и имбирем.</li>
                <li>Морские гребешки с соусом из белого вина и лимона.</li>
                <li>Домашняя паста с соусом песто и свежими томатами.</li>
            </ul>
        </div>
        <h2>Наша Команда</h2>
        <div class="content">
            <img src="{% static 'css/pov.jpg' %}" alt="Шеф-повар ресторана">
            <p>
                В <span>DnKz</span> работает команда профессионалов, каждый из которых страстно увлечен своим делом.
                Наш шеф-повар, Иван Иванов, имеет более 20 лет опыта в лучших ресторанах Европы.
            </p>
        </div>
        <h2>Наши Ценности</h2>
        <p>
            Мы верим, что каждый визит в ресторан <span>DnKz</span> должен быть особенным.
            Поэтому мы уделяем внимание каждой детали – от интерьера и музыки до обслуживания и презентации блюд.
        </p>
        <h2>Присоединяйтесь к нам</h2>
        <p>
            Приходите в ресторан <span>DnKz</span>, чтобы насладиться великолепной кухней и уютной атмосферой.
            Мы рады видеть вас среди наших гостей и обещаем, что ваше посещение станет настоящим гастрономическим путешествием!
        </p>
    </section>
</main>
<footer>
    <p>Адрес: ул. Байзакова, 123, г. Алматы</p>
    <p>Телефон: +7 (123) 456-7890</p>
    <p>Часы работы: Пн-Вс: 12:00 - 23:00</p>
</footer>

{% endblock popo %}

